.loadingBar {
    width: 100%;
    padding: 50px;
    vertical-align: middle;
}


.search-label {
    width: 100%;
    margin: 0
}

.pagination{
    float: right;
}

.react-bootstrap-table table { table-layout: auto !important; }
